@{ 
    Layout = null;
    var account = ViewBag.Account;
    var unconfirmedMembers = ViewBag.UnconfirmedMembers as IEnumerable<Cooper.Model.Teams.Member>;
}
<!DOCTYPE html>
<html class="ng-app:cooper" id="ng-app" ng-app="cooper">
<head>
    <meta charset="utf-8" />
    <title>{{title}} {{lang.suffix}}</title>
    <meta name="fragment" content="!" />
    <base href="/team" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("Style"); }
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/css/task.css")" />
</head>
<body>
    <div class="container-fluid TeamIndexCtrl" style="margin-top: 10px;" ng-controller="TeamIndexCtrl">
        <div class="row-fluid">
            <!--leftbar-->
            <div class="span2" style="padding: 5px; margin: 0;" ng-show="!mini&&!full">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/webui/left.htm")))
                <br />
                <div ng-controller="TeamListCtrl">@Html.Raw(File.ReadAllText(Server.MapPath("~/webui/team/list.htm")))</div>
                <br />
                <div ng-controller="TeamDetailCtrl" ng-show="team">@Html.Raw(File.ReadAllText(Server.MapPath("~/webui/team/detail.htm")))</div>
            </div>
            <!--Main-->
            <div id="main" ng-class="class_tasklist" ng-view>
            </div>
            <!--Detail-->
            <div id="detail_wrapper" ng-class="class_taskdetail">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/webui/task/detail.htm")))
            </div>
        </div>
        <div id="cover" class="modal-backdrop in" style="background: #ebebeb url('../Hybrid/images/bg-line.png') repeat;">
            <div class="progress progress-striped active" style="width: 400px; margin: auto;
                margin-top: 200px;">
                <div class="bar" style="width: 100%;">@this.Lang().loading</div>
            </div>
        </div>
    </div>
    <!--share box-->
    <div class="modal hide" id="shareModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                @this.Lang().share_to</h3>
        </div>
        <div class="modal-body">
            <form class="well form-search well">
            <div class="control-group">
                <textarea id="share_title" style="width: 80%; height: 150px"></textarea>
            </div>
            <div class="control-group">
                @{ Html.RenderPartial("ShareToRegion"); }
            </div>
            </form>
        </div>
    </div>
    @{ Html.RenderSettings(); }
    <script type="text/javascript">
        var url_root = '@Url.Content("~")';
        url_root = url_root == '/' ? '' : url_root;
        var url_root_webui = '@Url.Content("~/webui")';
        var currentTeamId='@ViewBag.TeamId';
        var currentProjectId = '@ViewBag.ProjectId';
        var currentMemberId = '@ViewBag.MemberId';
        var currentAccount={ id:@account.ID,name:'@account.Name',email:'@account.Email' };
    </script>
    @{ Html.RenderPartial("Scripts_Team"); }
    @if (unconfirmedMembers != null)
    {
        //临时实现
        <div class="modal hide" id="confirmModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×</button>
                <h3>
                    @this.Lang().confirm_unconfirmed_members</h3>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-stacked">
                    @foreach (var m in unconfirmedMembers)
                    {
                        <li><a href="javascript:;">
                            <label>
                                <input type="checkbox" value="@m.TeamId" onclick="toggle(this,@m.ID)" />
                                <code>@m.Email</code> @m.Name
                            </label>
                        </a></li>
                    }
                </ul>
                <button type="button" class="btn btn-primary" onclick="confirm()">@this.Lang().confirm_member</button>
            </div>
        </div>
        if (unconfirmedMembers.Count() > 0)
        {
        <script type="text/javascript">
            var ids = [];
            var toggle = function (e, i) {
                if ($(e).attr('checked'))
                    ids = $.merge(ids, [i]);
                else
                    ids = $.grep(ids, function (n) { return n != i });
            }
            var confirm = function () {
                if (ids.length == 0) return;
                $.post('/team/ConfirmMembers', { ids: ids.join(',') }, function () { });
            }
            $(function () {
                $('#confirmModal').modal('show').find('input[type="checkbox"]').each(function () {
                    $(this).click();
                    toggle(this, $(this).val());
                });
            });
        </script>
        }
    }
    <script type="text/javascript">
        function resize() {
            $('.todolist_wrapper').height($(window).height() - 170);
            $('.span4').height($(window).height() - 30);
        }
        function share(e) {
            $('#shareModal').modal('show');
            $('#share_title').val($(e).parents('div.region_detail').eq(0).find('input').val() + lang.share_description);
        }

        function openTaskFolder() { $('#taskFolderModal').modal('show'); }

        $(function () {
            //避免意外切换页面
            $(document).keydown(function (e) {
                if (e.keyCode != 8) return;
                if ($(e.target).is('body'))
                    return false;
            });

            resize();
            $(window).resize(resize);
            $('.btn').tooltip({ placement: 'bottom', delay: 800 });
        });
    </script>
</body>
</html>
