@{ 
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="cooper">
<head>
    <meta charset="utf-8" />
    <title>{{title}} {{lang.suffix}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("Style"); }
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/css/task.css")" />
</head>
<body>
    <div class="container-fluid" style="margin-top: 10px;" ng-controller="MainCtrl">
        <div class="row-fluid">
            <!--leftbar-->
            <div class="span2" style="padding: 5px; margin: 0;" ng-show="!mini&&!full">
                @*<div ng-include="tmp.left"></div>*@
                @Html.Raw(File.ReadAllText(Server.MapPath("~/webui/left.htm")))
                <br />
                @*<div ng-include="tmp.team_list" ng-controller="TeamListCtrl"></div>*@
                <div ng-controller="TeamListCtrl">@Html.Raw(File.ReadAllText(Server.MapPath("~/webui/team/list.htm")))</div>
                <br />
                @*<div ng-include="tmp.team_detail" ng-controller="TeamDetailCtrl" ng-show="team"></div>*@
                <div ng-controller="TeamDetailCtrl" ng-show="team">@Html.Raw(File.ReadAllText(Server.MapPath("~/webui/team/detail.htm")))</div>
            </div>
            <ng:view></ng:view>
        </div>
    </div>

    @{ Html.RenderSettings(); }
    
    <script type="text/javascript">
        var url_root = '@Url.Content("~")';
        url_root = url_root == '/' ? '' : url_root;
        var url_root_webui = '@Url.Content("~/webui")';
        var currentTeamId='@ViewBag.TeamId';
        var currentProjectId = '@ViewBag.ProjectId';
        var currentMemberId = '@ViewBag.MemberId';
        var currentUser={ id:1,name:'',email:'' };
    </script>

    <script type="text/javascript" src="@Url.Content("~/scripts/task.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_row.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_bind.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_bind_shortcuts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_bind_team.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_priority.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/task_due.js")"></script>

    <script src="@Url.Content("~/content/angular/angular-1.0.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/webui/modules/cooper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/webui/controllers/Main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/webui/controllers/TaskList.js")" type="text/javascript"></script>

    <script type="text/javascript">
        function resize() {
            $('.todolist_wrapper').height($(window).height() - 170);
            $('.span4').height($(window).height() - 30);
        }
        function share(e) {
            $('#shareModal').modal('show');
            $('#share_title').val($(e).parents('div.region_detail').eq(0).find('input').val() + lang.share_description);
        }

        function openTaskFolder() { $('#taskFolderModal').modal('show'); }

        $(function () {
            //避免意外切换页面
            $(document).keydown(function (e) {
                if (e.keyCode != 8) return;
                if ($(e.target).is('body'))
                    return false;
            });

            resize();
            $(window).resize(resize);
            $('.btn').tooltip({ placement: 'bottom', delay: 800 });
        });
    </script>
</body>
</html>