@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.Title = "编辑";
    var task = ViewBag.Task as Cooper.Model.Tasks.Task;
}
@using Cooper.Model.Tasks;

<div id="detail" data-role="page">
    <div data-role="header" data-position="inline" data-theme="b">
        <a class="link_home" data-icon="home">待办</a>
        <h1>
            编辑</h1>
        <a class="link_save ui-btn-right" data-icon="check">保存</a>
    </div>
    <div id="edit" data-role="content">
        <form>
        <div data-role="fieldcontain" class="ui-hide-label">
            <select name="isCompleted" id="flip-a" data-role="slider" data-theme="b">
	            <option value="false" @Html.Raw(task != null && !task.IsCompleted ? "selected" : "")>未完成</option>
	            <option value="true" @Html.Raw(task != null && task.IsCompleted ? "selected" : "")>完成</option>
            </select> 
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            @Html.TextBox("subject", task != null ? task.Subject : null, new { placeholder = "标题" })
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            @Html.TextArea("body", task != null ? task.Body : null, new { placeholder = "备注" })
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" >
	        <legend>优先级:</legend>
     	        <input type="radio" name="priority" id="radio-choice-1" value="0" @Html.Raw(task != null && task.Priority == Priority.Today ? "checked='checked'" : "")/>
     	        <label for="radio-choice-1">今天</label>
     	        <input type="radio" name="priority" id="radio-choice-2" value="1"  @Html.Raw(task != null && task.Priority == Priority.Upcoming ? "checked='checked'" : "")/>
     	        <label for="radio-choice-2">稍后</label>
     	        <input type="radio" name="priority" id="radio-choice-3" value="2"  @Html.Raw(task != null && task.Priority == Priority.Later ? "checked='checked'" : "")/>
     	        <label for="radio-choice-3">迟些</label>
        </fieldset>
        </div>
        <div data-role="fieldcontain">
            <label for="dueTime">
                截止日期:</label>
            @Html.TextBox("dueTime", task != null && task.DueTime.HasValue ? task.DueTime.Value.ToString("yyyy-MM-dd") : null, new { type = "date" })
        </div>
        <div class="ui-body ui-body-b">
		    <fieldset class="ui-grid-a">
				<div class="ui-block-a"><button type="button" class="link_cancel" data-theme="d">取消</button></div>
				<div class="ui-block-b"><button type="button" class="link_save">提交</button></div>
	        </fieldset>
		</div>
        @Html.Hidden("id", task != null ? task.ID : 0)
        </form>
    </div>
</div>
