@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.Title = "任务";
    var tasks = ViewBag.Tasks as IEnumerable<Cooper.Model.Tasks.Task>;
    var groups = ViewBag.Groups as IOrderedEnumerable<IGrouping<Cooper.Model.Tasks.Priority, Cooper.Model.Tasks.Task>>;
}
<div data-role="page">
    <div data-role="header" data-position="inline" data-theme="b">
        <a class="link_account ui-btn-left" data-icon="gear">设置</a>
        <h1>
            Cooper Task Preview</h1>
        <a class="link_append ui-btn-right" data-icon="plus">新建</a>
    </div>
    <div data-role="content">
        <ul id="list" data-role="listview" data-filter="true" data-theme="d" data-divider-theme="d">
            @foreach (var g in groups)
            {
                <li data-role="list-divider">
                    @g.Key
                    <span class="ui-li-count">@g.Count()</span> </li>
                foreach (Cooper.Model.Tasks.Task t in g)
                {
                <li><a href="#" id="@t.ID" data-transition="slide">
                    @if (t.IsCompleted)
                    {
                        <i class="icon-ok"></i>
                    }
                    else if (t.Priority == Cooper.Model.Tasks.Priority.Today)
                    { 
                        @Html.Raw("&nbsp;&nbsp;&nbsp;")
                    }
                    else if (t.Priority == Cooper.Model.Tasks.Priority.Upcoming)
                    { 
                        <i class="icon-tag"></i>
                    }
                    else if (t.Priority == Cooper.Model.Tasks.Priority.Later)
                    { 
                        <i class="icon-inbox"></i>
                    }
                    @t.Subject
                    &nbsp;
                    @if (t.DueTime.HasValue)
                    {
                        <span class="ui-li-count">@t.DueTime.Value.ToString("M-d")</span>
                    }
                </a></li>
                }
            }
        </ul>
    </div>
</div>
