@using Cooper.Model.Accounts;
@{
    ViewBag.Title = "Connection";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
    var cs = ViewBag.Connections as IEnumerable<AccountConnection>;
}

@{ Html.RenderPartial("Nav"); }

<div class="alert alert-info">
    <strong>@this.Lang().account_connection</strong> @this.Lang().account_connection_description
</div>
@*<div class="alert">
    <strong>@this.Lang().about_sync</strong> @this.Lang().about_sync_description
</div>*@
@using (Html.BeginForm())
{
    <ul class="nav nav-tabs nav-stacked">
        @foreach (var c in cs)
        {
            <li><a>
                @*<button class="btn btn_sync" 
                type="button" 
                title="@this.Lang().sync_now"
                data-loading-text="<i class='icon-refresh'></i> @this.Lang().sync_loading" 
                data-complete-text="<i class='icon-random'></i> @this.Lang().sync_complete" 
                id="@c.ID">
                    <i class="icon-random"></i>
                </button>*@
                <code>@c.GetType().Name.ConnectionName()</code>
                @c.Name
                <button type="submit" class="close" 
                title="@this.Lang().cancel_connection" 
                name="connectionId" 
                value="@c.ID" 
                onclick="return confirm('@this.Lang().confirm_cancel_connection')">×</button>
            </a></li>
        }
    </ul>
}
<div class="well">
    @if (!cs.Any(o => o is GoogleConnection))
    {
        <button class="btn btn-primary" onclick="window.open('@ViewBag.GoogleUrl')">
            @this.Lang().add_google_connection</button>
    }
    @if (!cs.Any(o => o is GitHubConnection))
    {
        <button class="btn btn-inverse" onclick="window.open('@ViewBag.GitUrl')">
            @this.Lang().add_git_connection</button>
    }
    @if (!cs.Any(o => o is EverNoteConnection))
    {
        <button class="btn btn-inverse" onclick="window.open('@ViewBag.EverNoteUrl')">
            @this.Lang().add_evernote_connection</button>
    }
</div>
@section Bottom{
    <script type="text/javascript">
        //连接成功的回调
        function connectSuccess() {
            location.reload();
        }
        $(function () {
            $('.btn_sync').click(function () {
                var $e = $(this);
                if ($e.hasClass('disabled')) return;
                $e.button('loading');
                doSyncStart($e.attr('id'), function () { $e.button('complete'); });
            });
        });
    </script>
}
