<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @this.Lang().personal_setting @this.Suffix()</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("Style"); }
</head>
<body>
    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row-fluid">
            <!--leftbar-->
            @{ Html.RenderLeftBar(); }
            <!--Main-->
            <div class="span10">
                @RenderBody()
            </div>
        </div>
    </div>
    
    @{ Html.RenderSettings(); }

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                cache: false,
                error: function (x, e) {
                    $('#error').fadeIn(500);
                    setTimeout(function () { $('#error').fadeOut(500); }, 1000);
                }
            });
        });
    </script>

    @RenderSection("Bottom", false)
</body>
</html>
