@{
    var url = Request.Url.ToString().ToLower();
    var active="class=\"active\"";
    var isAccount = url.Contains("/account") ? active : string.Empty;
    var isTask = url.Contains("/per") ? active : string.Empty;
    var isFetch = url.Contains("/fetch") ? active : string.Empty;
}

<div class="span2" style=" border: 0px #ddd solid; padding: 5px; margin:0;">
    <ul class="nav nav-list">
        <li class="nav-header">WORK IN COOPER</li>
        <li @Html.Raw(isTask)>
            <a href="@Url.Action("Index", "Per", null)">
                <i class="icon-inbox"></i> @this.Lang().my_task
            </a>
        </li>
        <li @Html.Raw(isAccount)><a href="@Url.Action("Connection", "Account", null)"><i class="icon-user"></i> @this.Lang().my_profile</a></li>
        <li><a href="@Url.Action("Index", "Team", null)"><i class="icon-th-large"></i> @this.Lang().myteam</a></li>
        @Html.Raw(this.Lang().recent_changes)
    </ul>
    <br />
    <div class="alert alert-success">
        <strong>Like it ?</strong>
        <a onclick="feedback()">feedback!</a>
        or
        <a onclick="joinus()">Join us</a>.
    </div>
    <br />
    <div id="error" class="alert alert-danger hide">@this.Lang().error_and_retry_later</div>
</div>
